babel
backrefs
beautifulsoup4
certifi
charset-normalizer
click
colorama
EditorConfig
ghp-import
idna
Jinja2
jsbeautifier
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
packaging
paginate
pathspec
platformdirs
Pygments
pymdown-extensions
python-dateutil
python-markdown-math
PyYAML
pyyaml_env_tag
requests
setuptools
six
soupsieve
typing_extensions
urllib3
watchdog
